<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="firstName"><br>
        <input type="text" v-model="lastName"><br>
        {{ funllName }}
    </div>
</body>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            firstName:'sjy',
            lastName:'SJY',
            funllName:'sjy.SJY'
        },
        watch:{
            'firstName':function (newval,oldval) {
                this.funllName = this.firstName + this.lastName;
            },
            'lastName':function (newval,oldval) {
                this.funllName = this.firstName + this.lastName;
            }
        }
    })
</script>
</html>